body {
    /* background-image: url("normalSlide.png"); */
    /* background-size: 100% auto; */
    /* background-repeat: no-repeat; */
}

a {
    color: #ffa200;
}
a:visited {
  color: #ffa200;
}
a:hover, a:active, a:focus {
  color:#ffa200;
}
