.always-invisible {
    display: none;
}

.button {
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}

.button:hover {
    background-color: orange;
}

.heatmap-button {
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 12px;
}

#button-heatmaps {
    background-color: red;
}

#floor-button-floor-1 {
    background-color: red;
}

.vis {
    text-align: center;
}

.axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: crosshair;
}
