.button {
    background-color: green;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
}

.button:hover {
    background-color: orange;
}

#button-f3 {
    background-color: red;
}

.vis {
    text-align: center;
}

.lines-f3 {
    fill: none;
    stroke-width: 1.5px;
}

.prox-lines {
    fill: none;
    stroke-width: 1.5px;
}

.f3-general {
    stroke: steelblue;
}

.f3-zone1 {
    stroke: #a6cee3;
}

#f3-zone1-text {
    color: #a6cee3;
}

.f3-zone2 {
    stroke: #1f78b4;
}

#f3-zone2-text {
    color: #1f78b4;
}

.f3-zone3 {
    stroke: #b2df8a;
}

#f3-zone3-text {
    color: #b2df8a;
}

#f3-zone4-text {
    color: #858585;
}

.f3-zone5 {
    stroke: #33a02c;
}

#f3-zone5-text {
    color: #33a02c;
}

.f3-zone6 {
    stroke: #fb9a99;
}

#f3-zone6-text {
    color: #fb9a99;
}

.f3-zone7 {
    stroke: #e31a1c;
}

#f3-zone7-text {
    color: #e31a1c;
}

.f3-zone8 {
    stroke: #fdbf6f;
}

#f3-zone8-text {
    color: #fdbf6f;
}

.f3-zone9 {
    stroke: #ff7f00;
}

#f3-zone9-text {
    color: #ff7f00;
}

.f3-zone10 {
    stroke: #cab2d6;
}

#f3-zone10-text {
    color: #cab2d6;
}

.f3-zone11a {
    stroke: #6a3d9a;
}

#f3-zone11a-text {
    color: #6a3d9a;
}

.f3-zone11b {
    stroke: #ffff00;
}

#f3-zone11b-text {
    color: #ffff00;
}

.f3-zone11c {
    stroke: #b15928;
}

#f3-zone11c-text {
    color: #b15928;
}

.f3-zone12 {
    stroke: #660033;
}

#f3-zone12-text {
    color: #660033;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis text {
    font: 10px sans-serif;
}

.y.axis text {
    font: 12px sans-serif;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.color1-text {
    color: #1F77B4;
}

.color2-text {
    color: #FF7F0E;
}

.color3-text {
    color: #2CA02C;
}

.color4-text {
    color: #D62728;
}

.color5-text {
    color: #9467BD;
}

.color6-text {
    color: #8C564B;
}

.color7-text {
    color: #E377C2;
}
